<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Screen Orientation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h6>Existing Screen Orientation:
    <strong>{{ this.existingScreenOrientation }}</strong>
  </h6>
  <div
    class="buttons-columns"
    [ngClass]="{ 'grid': isLandscape$.value}"
  >
    <ion-button
      (click)="unlockOrientation()"
      expand="full"
    >
      Unlock Orientation
    </ion-button>
    <ion-button
      (click)="setPotrait()"
      expand="full"
    >
      Set Potrait
    </ion-button>
    <ion-button
      (click)="setLandScape()"
      expand="full"
    >
      Set Landscape
    </ion-button>

    <ion-button
      (click)="LockOrientation()"
      expand="full"
    >
      Lock Orientation
    </ion-button>

  </div>
</ion-content>
